.about-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: linear-gradient(to bottom, $green 0%,#{fade-out($green, .1)} 75%,#{fade-out($green, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
}
